:root {
  --foundation-blue-normal: #0178a9;
  --foundation-orange-normal: #ff8c4b;
  --dark: #2f2e57;
  --foundation-blue-light-hover: #d9ebf2;
  --foundation-blue-normal-hover: #016c98;
  font-size: 16px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.container {
  max-width: 980px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.inline-block {
  display: inline-block;
}
.wrap-page {
  font-family: "Noto Sans JP", sans-serif;
  //   style header
  .header {
    .header-inner {
      padding-block: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .wrap-h1-menu {
        h1 {
          width: 318px;
        }
        .menu-mobile {
          display: block;
        }
      }
      .wrap-nav {
        ul {
          display: flex;
          justify-content: end;
          gap: 48px;
          li {
            position: relative;
            a {
              color: var(--dark);
              font-weight: 500;
              line-height: 1.5;
              display: inline-block;
            }
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              right: -25px;
              transform: translateY(-50%);
              width: 2px;
              height: 100%;
              background-color: #46a5ea;
              display: inline-block;
            }
            &:last-child::after {
              width: 0;
            }
          }
        }
      }
    }
  }
  .wrap-contact {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .contact {
      padding: 8px 20px;
      display: flex;
      align-items: center;
      gap: 7px;
      .wrap-img {
        line-height: 0;
      }
      span {
        color: #fff;
        font-weight: 500;
        line-height: 1.5;
      }
    }
    .mail {
      background-color: var(--foundation-orange-normal);
      border-radius: 100px 0px 0px 100px;
    }
    .line {
      background-color: #52be40;
    }
    .phone {
      background-color: var(--foundation-blue-normal);
      border-radius: 0 100px 100px 0px;
      .text-phone {
        padding-right: 8px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 1px;
          height: 100%;
          background-color: #3493ba;
          display: inline-block;
        }
      }
      span {
        &:last-child {
          font-size: 24px;
          font-weight: 900;
          line-height: 1;
        }
      }
    }
  }

  // style inheritances
  .inheritances {
    background: url("../image/landing/bg-blue.jpg") no-repeat top left;
    background-size: cover;
    .inheritances-inner {
      padding-top: 63px;
      padding-bottom: 60px;
      display: flex;
      .wrap-content {
        width: 490px;
        padding-inline: 28px;
        text-align: center;
        .tag {
          color: #fff;
          font-weight: 500;
          letter-spacing: 4px;
          padding: 1.5px 10px;
          border-radius: 16px;
          background: var(--foundation-blue-normal);
          width: 150px;
          margin: 0 auto;
          line-height: 1.5;
          margin-bottom: 8px;
        }
        .title {
          color: var(--dark);
          font-size: 24px;
          font-weight: 700;
          line-height: 1.335;
          margin-bottom: 21px;
        }
        .fees {
          color: var(--foundation-blue-normal);
          font-size: 30px;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 3.3px;
        }
        .commit {
          color: #06ad35;
          font-size: 72px;
          font-weight: 700;
          line-height: 1;
          letter-spacing: 7.92px;
          margin-bottom: 21px;
          -webkit-text-stroke: 1px #fff;
          // text-stroke: 1px #fff;
          span {
            color: var(--foundation-blue-normal);
            font-size: 30px;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 3px;
            -webkit-text-stroke: 1px var(--foundation-blue-normal);
          }
        }
        .wrap-rental-price {
          margin-bottom: 10px;
          .title {
            color: var(--dark);
            font-size: 20px;
            font-weight: 700;
            display: inline-block;
            background: var(--foundation-blue-light-hover);
            padding: 6px 28px;
            border-radius: 16px;
            margin-bottom: 0;
            position: relative;
            z-index: 1;
            span {
              color: var(--foundation-blue-normal);
              margin-left: 5px;
            }
          }
          .rental-price {
            position: relative;
            top: -15px;
            display: flex;
            padding: 16px 31px;
            align-items: center;
            border-radius: 36px;
            border: 2.5px solid #fff;
            background: rgba(255, 255, 255, 0.75);
            box-shadow: 0px 4.5px 5.5px 0px rgba(0, 0, 0, 0.11);
            gap: 20px;
            color: var(--dark);
            > p {
              color: var(--foundation-orange-normal);
              font-size: 97px;
              font-weight: 900;
              line-height: 1;
              letter-spacing: -8px;
            }
            > div {
              p,
              span {
                font-size: 16px;
                letter-spacing: 1.76px;
                margin: 0;
              }
              p:first-child {
                font-size: 30px;
                letter-spacing: 3.3px;
                line-height: 1;
                text-align: left;
                padding-bottom: 10px;
              }
            }
          }
        }
        .desc {
          font-size: 14px;
          margin: 0;
          line-height: 1.5;
        }
      }
      .wrap-img-special {
        width: calc(100% - 490px);
        display: flex;
        align-items: center;
        img {
          width: 652px;
          height: auto;
          position: relative;
          top: 6px;
          left: -3px;
        }
      }
    }
  }

  // style issue
  .issue {
    padding-top: 93px;
    .wrap-issue {
      .group-issue {
        padding-inline: 37px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 53px;
        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          padding: 32px 27px 30px;
          background-image: url("../image/landing/bg-issue-1.png");
          background-size: cover;
          background-repeat: no-repeat;
          p {
            color: var(--foundation-orange-normal);
            font-size: 24px;
            font-weight: 700;
            line-height: 1.35;
            text-align: center;
            span {
              color: var(--dark);
              font-weight: 400;
            }
          }
        }
        .issue-2 {
          padding: 22px 60px 20px;
          background-image: url("../image/landing/bg-issue-2.png");
        }
      }
      .big-issue {
        text-align: center;
        position: relative;
        margin-bottom: 12px;
        img {
          position: absolute;
          width: 112px;
          height: auto;
          left: -22px;
          top: -5px;
          &:last-child {
            right: -22px;
            left: unset;
            transform: rotate(27deg);
            top: -15px;
          }
        }
        p {
          display: inline-block;
          padding: 36px 51px 81px 75px;
          background: url("../image/landing/bg-issue-3.png") no-repeat top left;
          background-size: cover;
          color: var(--foundation-blue-norma);
          text-align: center;
          font-size: 36px;
          font-weight: 700;
          line-height: 1.5;
          span {
            color: var(--foundation-orange-normal);
          }
        }
      }
      .wrap-img-desc {
        position: relative;
        padding: 0 35px 0 46px;
        img:first-child {
          width: 965px;
          margin: 0 auto;
          position: absolute;
          top: 98px;
          left: 50%;
          transform: translateX(-50%);
        }
        img:last-child {
          position: relative;
          top: 0;
          z-index: 1;
        }
      }
    }
    .solution-head {
      background-color: var(--foundation-blue-normal);
      position: relative;
      top: -9px;
      margin-bottom: 0;
      &-inner {
        text-align: center;
        padding: 55px 0 50px 0;
        position: relative;
        &::after {
          content: "";
          width: 60px;
          height: 26px;
          background: url("../image/landing/Polygon-3.png") no-repeat;
          position: absolute;
          bottom: -25px;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          background-size: contain;
          z-index: 1;
        }
        .title {
          color: #fff;
          font-size: 40px;
          line-height: 1.4;
          letter-spacing: 4.4px;
          span {
            color: #ffee94;
            font-weight: 700;
          }
        }
      }
    }
    .solution-content {
      background-color: #eef8fd;
      position: relative;
      top: -10px;
      &-inner {
        padding: 74px 0 103px 0;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        // align-items: center;
        .solution-item {
          text-align: center;
          width: calc(100% / 3);
          &:nth-child(2) {
            .card {
              .wrap-img-desc {
                margin-top: -16px;
                margin-bottom: 0;
              }
              .icon-check {
                margin-top: -11.4px;
              }
            }
          }
          .card {
            border-radius: 32px;
            background: #fff;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
            display: flex;
            padding: 32px 24px 24px 24px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 27px;
            .title {
              color: var(--dark);
              font-size: 24px;
              font-weight: 700;
              line-height: 1.35;
              margin-bottom: 5px;
            }
            .wrap-img-desc {
              line-height: 0;
              margin-bottom: 5px;
              img {
                width: 168px;
                height: 168px;
              }
            }
            .icon-check {
              width: 48px;
            }
          }
          .desc {
            padding-inline: 28px;
            p {
              color: var(--dark);
              font-size: 15px;
              line-height: 1.35;
              span {
                color: var(--foundation-blue-normal);
                font-size: 18px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  // style inheritance-diagram
  h2 {
    padding-bottom: 50px;
    background: url("../image/icon/brackets.svg") no-repeat bottom left 5px;
    background-size: 95%;
    display: inline-block;
    margin-bottom: 48px;
    color: var(--dark);
    font-size: 40px;
    font-weight: 700;
    line-height: 0.85;
    text-align: center;
  }
  .inheritance-diagram {
    &-inner {
      padding: 100px 0 101px;
      text-align: center;
      .wrap-diagram {
        line-height: 0;
      }
    }
  }

  // style price package
  .price-package {
    background: url("../image/landing/caro.png"), #eef8fd;
    background-size: cover;
    background-repeat: repeat;
    &-inner {
      padding: 100px 0 98px;
      text-align: center;
      h2 {
        padding-bottom: 22px;
        background: url("../image/icon/brackets.svg") no-repeat bottom left;
        background-size: contain;
        line-height: 1.35;
        margin-bottom: 45px;
      }
      .wrap-package {
        display: flex;
        padding-inline: 15px;
        gap: 25px;
        .package {
          width: calc(100% / 3);
          border: 3px solid #3fb6e7;
          background-color: #3fb6e7;
          box-shadow: 0px 4.5px 5.5px 0px rgba(0, 0, 0, 0.11);
          text-align: center;
          border-radius: 24px;
          &:first-child,
          &:nth-child(2) {
            .wrap-content {
              padding: 24px 24px 25px 24px;
            }
          }
          &:last-child {
            .wrap-content {
              .price {
                margin-bottom: 0;
              }
              .sub-desc {
                margin-bottom: 25px;
              }
            }
          }
          .title {
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.35;
            padding: 12px;
          }
          .wrap-content {
            background-color: #fff;
            padding: 24px;
            border-radius: 0px 0px 22px 22px;
            position: relative;
            img {
              position: absolute;
              right: 6px;
              width: 90px;
              height: auto;
              top: -45px;
            }
            .price {
              color: var(--foundation-orange-normal);
              font-size: 80px;
              font-weight: 700;
              line-height: 1.35;
              margin-bottom: 43px;
              span {
                color: var(--dark);
                font-size: 24px;
                font-weight: 700;
                line-height: 1.35;
                &:nth-child(2) {
                  font-size: 14px;
                  font-weight: 400;
                }
              }
            }
            .desc {
              color: var(--dark);
              font-weight: 500;
              line-height: 1.35;
            }
            .sub-desc {
              color: var(--dark);
              font-size: 14px;
              line-height: 1.35;
            }
          }
        }
      }
    }
  }

  // style terms
  .terms {
    text-align: center;
    &-inner {
      padding-bottom: 130px;
      h2 {
        background-color: var(--foundation-blue-normal);
        padding: 30px 0;
        color: #fff;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.4;
        display: block;
        background-image: none;
        position: relative;
        margin-bottom: 74px;
        &::after {
          content: "";
          width: 60px;
          height: 26px;
          background: url("../image/landing/Polygon-3.png") no-repeat;
          position: absolute;
          bottom: -26px;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          background-size: contain;
          z-index: 1;
        }
      }
      .terms-content {
        display: flex;
        justify-content: space-between;
        gap: 29px;
        .wrap-img {
          width: 317px;
        }
        .content {
          width: calc(100% - 317px - 29px);
          text-align: left;
          .list-term {
            margin-bottom: 30px;
            p {
              color: var(--dark);
              font-size: 20px;
              font-weight: 700;
              line-height: 1.4;
              margin-bottom: 17px;
            }
          }
          .desc {
            p {
              color: var(--dark);
              font-size: 14px;
              line-height: 1.4;
              margin-bottom: 6px;
            }
          }
        }
      }
    }
  }
  .line-block {
    background: #ffe9d7;
    height: 20px;
    display: block;
  }

  // style innovative
  .innovative {
    background-color: #f0f7fa;
    &-inner {
      padding: 79px 55px 100px 54px;
      text-align: center;
      h2 {
        line-height: 1.4;
        padding-bottom: 34px;
        background: url(../image/icon/brackets.svg) no-repeat bottom left 24px;
      }
      .wrap-content {
        .wrap-img-desc {
          position: relative;
          display: inline-block;
          margin-bottom: 15px;
          img {
            width: 386px;
            height: auto;
          }
          .group-text {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 94px;
            left: 51px;
            p {
              width: 130px;
              padding-block: 10px;
              color: #fff;
              font-size: 18px;
              font-weight: 700;
              line-height: 1;
              background-color: var(--foundation-orange-normal);
              border-radius: 8px 0 0 8px;
              &:last-child {
                background-color: var(--foundation-blue-normal-hover);
                border-radius: 0 8px 8px 0;
              }
            }
          }
        }
        .content {
          p {
            color: var(--dark);
            font-size: 20px;
            line-height: 2;
            span {
              font-weight: 700;
            }
            &:last-child {
              color: var(--foundation-orange-normal);
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  // style efficiency
  .efficiency {
    &-inner {
      padding: 69px 0 100px 0;
      text-align: center;
      h3 {
        color: var(--foundation-blue-normal-hover);
        font-size: 24px;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 16px;
      }
      h2 {
        line-height: 1.4;
        padding-bottom: 34px;
        background: url(../image/icon/brackets.svg) no-repeat bottom center;
        margin-bottom: 47px;
        span {
          color: #06ad35;
        }
      }
      .wrap-img-desc {
        img {
          width: 494px;
          height: auto;
        }
        margin-bottom: 15px;
      }
      .wrap-content {
        padding-inline: 185px;
        .content {
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 27px 24px 26px 24px;
          border-radius: 20px;
          background: #eef8fd;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
          .wrap-img {
            width: 48px;
          }
          p {
            width: calc(100% - 48px - 16px);
            color: var(--dark);
            font-size: 20px;
            line-height: 1.4;
            text-align: left;
            span {
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  // style introduction
  .introduction {
    background-color: #f8f8f8;
    &-inner {
      padding: 100px 0;
      .introduction-text {
        display: flex;
        align-items: center;
        gap: 48px;
        padding-bottom: 49px;
        border-bottom: 1px solid #ccd8dd;
        margin-bottom: 47px;
        .wrap-img {
          width: 268px;
        }
        .content {
          padding: 17px 0 17px 24px;
          position: relative;

          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 6px;
            height: 100%;
            background-color: var(--foundation-blue-normal);
            top: 0;
            left: 0;
          }
          .title {
            color: var(--dark);
            font-size: 24px;
            line-height: 1.45;
            margin-bottom: 13px;
            span {
              font-weight: 700;
            }
          }
          a {
            color: var(--foundation-blue-normal);
            font-size: 20px;
            font-weight: 700;
            line-height: 2;
            text-decoration-line: underline;
            display: inline-block;
            padding-right: 52px;
            background: url("../image/icon/arrow.svg") no-repeat right 0px top -5px;
            background-size: contain;
            margin-bottom: 9px;
          }
          .desc {
            color: var(--dark);
            line-height: 1.5;
          }
        }
      }
      .wrap-ytb {
        display: flex;
        gap: 30px;
        align-items: center;
        .wrap-text {
          width: calc(100% - 550px - 33px);
          p {
            color: var(--dark);
            font-size: 40px;
            font-weight: 700;
            line-height: 1.4;
            margin-bottom: 7px;
            &:last-child {
              font-size: 16px;
              font-weight: 400;
              margin: 0;
              padding-right: 15px;
            }
          }
        }
        .ytb {
          width: 550px;
          line-height: 0;
          box-shadow: 0px 6px 10.4px 0px rgba(0, 0, 0, 0.25);
          border-radius: 24px;
        }
      }
    }
  }

  // style advice
  .advice {
    background: radial-gradient(
        41.39% 41.39% at 50% 105.49%,
        rgba(212, 233, 244, 0.32) 0%,
        rgba(212, 233, 244, 0) 100%
      ),
      #0178a9;
    &-inner {
      padding-block: 100px;
      color: #fff;
      .advice-detail {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-bottom: 48px;
        .wrap-img {
          width: 300px;
        }
        .content {
          width: calc(100% - 300px - 50px);
          p {
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.45;
            margin-bottom: 18px;
            &:last-child {
              font-weight: 400;
              margin-bottom: 0;
              span {
                font-weight: 700;
                text-decoration-line: underline;
              }
            }
          }
        }
      }
      > p {
        color: var(--white);
        font-weight: 400;
        line-height: 1.45;
        margin-bottom: 23px;
      }
      .group-ytb {
        display: flex;
        gap: 20px;
        align-items: center;
        img {
          width: calc((100% - 40px) / 3);
          border-radius: 24px;
        }
      }
    }
  }

  // style greeting
  .greeting {
    background: url("../image/landing/bg-greeting.png") no-repeat top left;
    background-size: cover;
    &-inner {
      padding: 100px 0 102px;
      text-align: center;
      h2 {
        padding-bottom: 35px;
        background: url("../image/icon/brackets.svg") no-repeat bottom left 26px;
        background-size: 88%;
        line-height: 1.35;
        margin-bottom: 50px;
      }
      .greeting-text {
        display: flex;
        gap: 48px;
        .wrap-img {
          width: 432px;
        }
        .text {
          width: calc(100% - 432px - 48px);
          text-align: left;
          p {
            color: var(--dark);
            line-height: 1.45;
            margin-bottom: 8px;
            &:last-child {
              margin-bottom: 0;
              span {
                font-weight: 700;
                margin-left: 32px;
                &:last-child {
                  margin-left: 16px;
                }
              }
            }
          }
          .text-blue {
            color: var(--foundation-blue-normal);
            font-size: 20px;
            font-weight: 700;
            line-height: 1.5;
          }
        }
      }
    }
  }

  // style profile flow
  .profile-flow {
    &-inner {
      padding-block: 100px;
      text-align: center;
      padding-inline: 120px;
      h2 {
        line-height: 1.35;
        padding-bottom: 25px;
        background: url("../image/icon/brackets.svg") no-repeat bottom left 16px;
        background-size: 89%;
      }
      ul {
        li {
          position: relative;
          margin-bottom: 43.35px;
          &:first-child {
            .content {
              border-radius: 0;
              padding-bottom: 0;
            }
          }
          &:last-child {
            margin-bottom: 0;
            &::after {
              width: 0;
            }
          }
          &::after {
            content: "";
            width: 60px;
            height: 32px;
            background: url("../image/landing/arrow-double.png") no-repeat;
            position: absolute;
            bottom: -32px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            background-size: contain;
            z-index: 1;
          }
          p {
            display: block;
            margin: 0;
            text-align: left;
          }
          .title {
            padding: 10px 40px;
            background: var(--foundation-blue-normal);
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.35;
            border-radius: 16px 16px 0 0;
          }
          .content {
            color: var(--dark);
            line-height: 1.45;
            padding: 24px 40px;
            background: #f0f7fa;
            border-radius: 0 0 16px 16px;
          }
          .wrap-contact {
            padding-block: 24px;
            justify-content: center;
            gap: 8px;
            background-color: #f6f6f6;
            border-radius: 0 0 16px 16px;
            .contact {
              border-radius: 100px;
              padding: 10px 25px;
              font-size: 20.5px;
              font-weight: 500;
              line-height: 1.5;
              gap: 9px;
              .wrap-img {
                width: 28px;
              }
            }
            .phone {
              .text-phone {
                padding-right: 10px;
              }
              span:last-child {
                font-size: 30.5px;
                line-height: 1;
                font-weight: 900;
              }
            }
          }
        }
      }
    }
  }

  // style qna
  .qna {
    background: #f0f7fa;
    &-inner {
      padding: 81px 0 100px;
      text-align: center;
      h2 {
        line-height: 1.35;
        padding-bottom: 24px;
        background: url("../image/icon/brackets.svg") no-repeat bottom left 8px;
        background-size: 93%;
      }
      .qna-customer,
      .qna-general {
        text-align: left;
        margin-bottom: 48px;
        .wrap-title {
          border-bottom: 3px solid var(--foundation-blue-normal-hover);
          margin-bottom: 16px;
          p {
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.4;
            padding: 8px 16px;
            border-radius: 16px 16px 0px 0px;
            background: var(--foundation-blue-normal-hover);
            margin-bottom: 0;
            display: inline-block;
          }
        }
        .list-qna {
          li {
            border: 1px solid #46a5ea;
            border-radius: 16px;
            overflow: hidden;
            margin-bottom: 16px;
            cursor: pointer;
            &:last-child {
              margin-bottom: 0;
            }
            .wrap-question,
            .wrap-answer {
              padding: 15px 96px 15px 24px;
              background-color: #46a5ea;
              display: flex;
              align-items: center;
              gap: 16px;
              .wrap-icon {
                width: 40px;
                line-height: 0;
              }
              > p {
                width: calc(100% - 40px - 16px);
              }
            }
            .wrap-question {
              position: relative;
              button {
                position: absolute;
                right: 24px;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                background: none;
                border: none;
                line-height: 0;
              }
              p {
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.35;
              }
            }
            .wrap-answer {
              padding: 26px 24px;
              background: var(--foundation-blue-light);
              p {
                color: var(--dark);
                line-height: 1.35;
              }
            }
            .show-icon {
              display: inline; /* Hiển thị ảnh "show" mặc định */
            }
            .hide-icon {
              display: none; /* Ẩn ảnh "hide" mặc định */
            }
            .wrap-answer {
              display: none;
            }
          }
        }
      }
      .qna-general {
        margin-bottom: 0;
      }
    }
  }

  // style footer
  .footer {
    &-top {
      background: radial-gradient(
          41.39% 41.39% at 50% 105.49%,
          rgba(212, 233, 244, 0.32) 0%,
          rgba(212, 233, 244, 0) 100%
        ),
        #0178a9;
      &-inner {
        padding-block: 62px;
        display: flex;
        gap: 20px;
        color: #fff;
        > div {
          width: calc((100% - 60px) / 4);
        }
        .info-general {
          padding-right: 2px;
          .title {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.45;
            // margin-bottom: 10px;
          }
          .sub-title {
            margin-bottom: 16px;
            line-height: 2.15;
          }
          .wrap-time {
            font-weight: 700;
            line-height: 1.39;
            margin-bottom: 19px;
            .time {
              font-size: 20px;
            }
            .desc {
              font-size: 14px;
              font-weight: 400;
            }
          }
          .address {
            font-size: 14px;
            line-height: 1.7;
          }
        }
        .qna-contact {
          padding: 16px;
          border-radius: 16px;
          background: rgba(255, 255, 255, 0.08);
          .wrap-img {
            border-radius: 16px;
            overflow: hidden;
            line-height: 0;
            margin-bottom: 20px;
          }
          .title {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.45;
            margin-bottom: 11px;
          }
          .phone {
            display: flex;
            gap: 11.5px;
            align-items: center;
            margin-bottom: 11px;
            cursor: pointer;
            img {
              width: 35px;
              height: auto;
            }
            p {
              width: calc(100% - 35px - 11.5px);
              font-size: 20px;
              font-weight: 700;
              line-height: 1.45;
              margin-bottom: 0;
            }
          }
          .link {
            width: 146px;
            display: flex;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.65;
            align-items: center;
            padding: 8px 31px 8px 15px;
            margin-bottom: 11px;
            background: var(--foundation-orange-normal);
            border-radius: 100px;
            gap: 8px;
            cursor: pointer;
            img {
              width: 8px;
            }
          }
          .desc {
            font-size: 12px;
            line-height: 1.35;
          }
        }
      }
    }
    &-bottom {
      padding-block: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: var(--foundation-blue-normal);
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 2.64px;
      }
      .wrap-link {
        display: flex;
        gap: 32px;
        a {
          color: var(--dark);
          font-size: 14px;
          line-height: 1.45;
          cursor: pointer;
          &:first-child {
            text-decoration-line: underline;
            color: var(--foundation-blue-normal);
          }
        }
      }
    }
  }
}

// responsive
@media screen and (max-width: 640px) {
  .container {
    max-width: 375px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
  .wrap-page {
    // style header
    .header .header-inner {
      flex-wrap: wrap;
      padding-block: 0;
      margin-left: -16px;
      margin-right: -16px;
      .wrap-h1-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        order: 1;
        padding: 16px;
        width: 100%;
        h1 {
          width: 212px;
        }
        .menu-mobile {
          display: inline-block;
          background: none;
          border: none;
          line-height: 0;
        }
      }
      .wrap-nav {
        width: 100%;
        nav {
          display: none;
        }
        .wrap-contact {
          margin-bottom: 0;
          .contact {
            width: 50%;
            border-radius: 0;
            justify-content: center;
            padding: 4px 20px;
          }
          .phone {
            display: none;
          }
        }
      }
    }

    // style inheritances
    .inheritances {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.7) 0%,
          rgba(255, 255, 255, 0.7) 100%
        ),
        linear-gradient(90deg, #77ccfa 0%, #d3f8e9 100%);
      .inheritances-inner {
        padding-top: 24px;
        flex-wrap: wrap;
        position: relative;
        .wrap-content {
          width: 100%;
          padding: 0;
          padding-bottom: 105px;
          .tag {
            margin-bottom: 9px;
          }
          .title {
            font-size: 20px;
            margin-bottom: 6px;
          }
          .commit {
            font-size: 48px;
            letter-spacing: 5.28px;
            margin-bottom: 4px;
            span {
              letter-spacing: 3.3px;
            }
          }
          .desc {
            font-size: 12px;
            padding-inline: 21px;
            line-height: 1.45;
          }
          .wrap-rental-price {
            margin-bottom: -3px;
          }
        }
        .wrap-img-special {
          width: 100%;
          position: absolute;
          bottom: -53px;
          left: 2px;
          display: block;
          img {
            width: 340px;
            position: unset;
          }
        }
      }
    }
  }
}
