:root {
  --foundation-blue-normal: #0178a9;
  --foundation-orange-normal: #ff8c4b;
  --dark: #2f2e57;
  --foundation-blue-light-hover: #d9ebf2;
  --foundation-blue-normal-hover: #016c98;
  font-size: 16px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

.container {
  max-width: 980px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto; }

@media screen and (max-width: 640px) {
  .container {
    max-width: 375px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto; } }
.inline-block {
  display: inline-block; }

.block {
  display: block; }

.flex {
  display: flex; }

body {
  font-family: "Noto Sans JP", sans-serif; }

.introduce::before {
  content: "";
  display: inline-block;
  width: 740px;
  height: 895px;
  position: absolute;
  background: url("../image/landing/dl.beatsnoop-1.png") no-repeat top left;
  background-size: contain; }
.introduce::after {
  content: "";
  display: inline-block;
  width: 740px;
  height: 895px;
  position: absolute;
  background: url("../image/landing/dl.beatsnoop-2.png") no-repeat top right;
  background-size: contain;
  top: 0;
  right: 0; }
.introduce-inner {
  background: url("../image/landing/shake-hands.png") no-repeat top right 34%;
  background-size: contain;
  position: relative;
  z-index: 1; }
  .introduce-inner .wrap-content {
    padding-top: 80px;
    padding-bottom: 150px;
    position: relative; }
    .introduce-inner .wrap-content .text-banner {
      width: 525px;
      height: 300px; }
    .introduce-inner .wrap-content .wrap-top {
      gap: 30px; }
    .introduce-inner .wrap-content .wrap-desc {
      background: url("../image/landing/ellipse.png") no-repeat top center;
      background-size: contain;
      height: fit-content;
      position: relative;
      top: -60px; }
      .introduce-inner .wrap-content .wrap-desc p {
        color: #d42020;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.35;
        padding: 28px 25px 30px 60px;
        display: inline-block;
        position: relative;
        z-index: 1;
        background: url("../image/icon/checked.svg") no-repeat center left 25px;
        background-size: 34px;
        transform: rotate(5deg); }
  .introduce-inner .group-ads {
    gap: 0;
    padding-inline: 16px;
    position: absolute;
    bottom: -55px;
    left: 0; }

.benefit {
  background: url("../image/landing/bg-blue.png") no-repeat top center;
  background-size: cover;
  color: #fff; }
  .benefit-inner {
    text-align: center;
    padding-top: 78px;
    padding-bottom: 120px; }
    .benefit-inner .title-open {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.28;
      letter-spacing: 3.6px;
      padding-bottom: 33px;
      margin-bottom: 30px;
      position: relative; }
      .benefit-inner .title-open::after {
        content: "";
        width: 541px;
        height: 1px;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #66a8da; }
    .benefit-inner .container > p:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 2.482px 4.453px 6.234px rgba(0, 0, 0, 0.51);
      font-size: 48px;
      font-weight: 700;
      line-height: 0.7;
      letter-spacing: 5.28px;
      margin-bottom: 10px; }
      .benefit-inner .container > p:nth-child(2) span {
        width: 321px; }
    .benefit-inner .container > p:nth-child(3) {
      font-size: 36px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 3.96px;
      padding-bottom: 33px;
      margin-bottom: 33px;
      position: relative; }
      .benefit-inner .container > p:nth-child(3)::after {
        content: "";
        width: 541px;
        height: 30px;
        display: inline-block;
        position: absolute;
        bottom: -27px;
        left: 50%;
        transform: translateX(-50%);
        background: url("../image/icon/line.svg");
        background-size: contain; }
    .benefit-inner .container .wrap-content p {
      padding: 16px 16px 16px 68px;
      background: url("../image/icon/check-square.svg") no-repeat; }

/*# sourceMappingURL=style.css.map */
