:root {
  --foundation-blue-normal: #0178a9;
  --foundation-orange-normal: #ff8c4b;
  --dark: #2f2e57;
  --foundation-blue-light-hover: #d9ebf2;
  --foundation-blue-normal-hover: #016c98;
  font-size: 16px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.container {
  max-width: 980px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 375px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
body {
  font-family: "Noto Sans JP", sans-serif;
}

// introduce
.introduce {
  &::before {
    content: "";
    display: inline-block;
    width: 740px;
    height: 895px;
    position: absolute;
    background: url("../image/landing/dl.beatsnoop-1.png") no-repeat top left;
    background-size: contain;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 740px;
    height: 895px;
    position: absolute;
    background: url("../image/landing/dl.beatsnoop-2.png") no-repeat top right;
    background-size: contain;
    top: 0;
    right: 0;
  }
  &-inner {
    background: url("../image/landing/shake-hands.png") no-repeat top right 34%;
    background-size: contain;
    position: relative;
    z-index: 1;
    .wrap-content {
      padding-top: 80px;
      padding-bottom: 150px;
      position: relative;
      .text-banner {
        width: 525px;
        height: 300px;
      }
      .wrap-top {
        gap: 30px;
      }
      .wrap-desc {
        background: url("../image/landing/ellipse.png") no-repeat top center;
        background-size: contain;
        height: fit-content;
        position: relative;
        top: -60px;
        p {
          color: #d42020;
          font-size: 24px;
          font-weight: 700;
          line-height: 1.35;
          padding: 28px 25px 30px 60px;
          display: inline-block;
          position: relative;
          z-index: 1;
          background: url("../image/icon/checked.svg") no-repeat center left
            25px;
          background-size: 34px;
          transform: rotate(5deg);
        }
      }
    }
    .group-ads {
      gap: 0;
      padding-inline: 16px;
      position: absolute;
      bottom: -55px;
      left: 0;
      // .wrap-ads {
      //   position: relative;
      //   &::before {
      //     content: "";
      //     display: inline-block;
      //     width: 200px;
      //     height: 100px;
      //     position: absolute;
      //     background: url("../image/landing/caro-left.png") no-repeat top left;
      //     background-size: contain;
      //     top: 2px;
      //     left: 0;
      //   }
      //   &::after {
      //     content: "";
      //     display: inline-block;
      //     width: 200px;
      //     height: 100px;
      //     position: absolute;
      //     background: url("../image/landing/caro-right.png") no-repeat top right;
      //     background-size: contain;
      //     top: 2px;
      //     right: 0;
      //   }
      //   .ads {
      //     height: 100%;
      //     background: linear-gradient(
      //       0deg,
      //       #920d0e 0%,
      //       #af1617 16.03%,
      //       #e42223 100%
      //     );
      //     padding: 9px 40px;
      //     color: #fff;
      //     text-align: center;
      //     font-size: 20px;
      //     font-weight: 500;
      //     line-height: 1.5;
      //     letter-spacing: 2px;
      //     border-radius: 16px;
      //     border: 2px solid #d99003;
      //     box-shadow: 0px 10px 8.9px 0px rgba(0, 0, 0, 0.25);
      //   }
      //   > div {
      //     align-items: end;
      //     justify-content: center;
      //     gap: 6px;
      //   }
      //   .ads-custom {
      //     height: 100%;
      //     align-items: center;
      //     img {
      //       width: 89px;
      //     }
      //   }
      //   img {
      //     width: 67px;
      //   }
      // }
    }
  }
}

// benefit
.benefit {
  background: url("../image/landing/bg-blue.png") no-repeat top center;
  background-size: cover;
  color: #fff;
  &-inner {
    text-align: center;
    padding-top: 78px;
    padding-bottom: 120px;
    .title-open {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.28;
      letter-spacing: 3.6px;
      padding-bottom: 33px;
      margin-bottom: 30px;
      position: relative;
      &::after {
        content: "";
        width: 541px;
        height: 1px;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #66a8da;
      }
    }
    .container {
      > p:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 2.482px 4.453px 6.234px rgba(0, 0, 0, 0.51);
        font-size: 48px;
        font-weight: 700;
        line-height: 0.7;
        letter-spacing: 5.28px;
        margin-bottom: 10px;
        span {
          width: 321px;
        }
      }
      > p:nth-child(3) {
        font-size: 36px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 3.96px;
        padding-bottom: 33px;
        margin-bottom: 42px;
        position: relative;
        &::after {
          content: "";
          width: 541px;
          height: 30px;
          display: inline-block;
          position: absolute;
          bottom: -27px;
          left: 50%;
          transform: translateX(-50%);
          background: url("../image/icon/line.svg");
          background-size: contain;
        }
      }
      .wrap-content {
        margin: 0 auto;
        position: relative;
        display: inline-block;
        &::before {
          content: "";
          width: 390px;
          height: 446px;
          display: inline-block;
          position: absolute;
          top: -74px;
          left: -470px;
          background: url("../image/landing/map.png");
          background-size: contain;
        }
        &::after {
          content: "";
          width: 498px;
          height: 373px;
          display: inline-block;
          position: absolute;
          top: 45px;
          right: -425px;
          background: url("../image/landing/more-money.png");
          background-size: contain;
        }
        .content {
          width: 472px;
          padding: 16px;
          border-radius: 16px;
          background: #1d679b;
          position: relative;
          z-index: 1;
        }
        p {
          padding-left: 52px;
          padding-block: 10px;
          background: url("../image/icon/check-square.svg") no-repeat center
            left 16px;
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: 2px;
          text-align: left;
        }
      }
    }
  }
}

// attention
.attention {
  position: relative;
  .tag-attention {
    width: 167px;
    height: 138px;
    background: url("../image/landing/attention-bg.png") no-repeat top left;
    background-size: contain;
    color: #c21011;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 0.75;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: -68px;
    transform: translateX(-50%);
    p {
      position: absolute;
      bottom: 35px;
    }
  }
  &-inner {
    padding-top: 129px;
    text-align: center;
    .text-1 {
      color: #2f2e57;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.28;
      letter-spacing: 3.6px;
      margin-bottom: 8px;
    }
    .text-2 {
      align-items: baseline;
      justify-content: center;
      margin-bottom: 15px;
      span:first-child {
        background: linear-gradient(
          180deg,
          #ff2728 0%,
          #af1617 80.21%,
          #920d0e 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.32;
        text-decoration: underline;
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 2.5px;
          background-color: #980f10;
          position: absolute;
          bottom: 2.5px;
          left: 0;
          display: inline-block;
        }
      }
      span:nth-child(2) {
        color: #2f2e57;
        font-size: 36px;
        font-weight: 700;
        text-decoration-line: none;
        line-height: 1.61;
        -webkit-text-fill-color: #2f2e57;
      }
    }
    .text-3 {
      color: #2f2e57;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.67;
      letter-spacing: 2.4px;
    }
  }
}
