:root {
  --foundation-blue-normal: #0178a9;
  --foundation-orange-normal: #ff8c4b;
  --dark: #2f2e57;
  --foundation-blue-light-hover: #d9ebf2;
  --foundation-blue-normal-hover: #016c98;
  font-size: 16px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

.container {
  max-width: 980px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto; }

@media screen and (max-width: 640px) {
  .container {
    max-width: 375px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto; } }
.inline-block {
  display: inline-block; }

.block {
  display: block; }

.flex {
  display: flex; }

body {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--dark); }

.introduce::before {
  content: "";
  display: inline-block;
  width: 740px;
  height: 895px;
  position: absolute;
  background: url("../image/landing/dl.beatsnoop-1.png") no-repeat top left;
  background-size: contain; }
.introduce::after {
  content: "";
  display: inline-block;
  width: 740px;
  height: 895px;
  position: absolute;
  background: url("../image/landing/dl.beatsnoop-2.png") no-repeat top right;
  background-size: contain;
  top: 0;
  right: 0; }
.introduce-inner {
  background: url("../image/landing/shake-hands.png") no-repeat top right 34%;
  background-size: contain;
  position: relative;
  z-index: 1; }
  .introduce-inner .shake-hands {
    display: none; }
  .introduce-inner .wrap-content {
    padding-top: 80px;
    padding-bottom: 150px;
    position: relative; }
    .introduce-inner .wrap-content .text-banner {
      width: 525px;
      height: 300px; }
      .introduce-inner .wrap-content .text-banner:first-child {
        display: inline-block; }
      .introduce-inner .wrap-content .text-banner:last-child {
        display: none; }
    .introduce-inner .wrap-content .wrap-top {
      gap: 30px; }
    .introduce-inner .wrap-content .wrap-desc {
      background: url("../image/landing/ellipse.png") no-repeat top center;
      background-size: contain;
      height: fit-content;
      position: relative;
      top: -60px; }
      .introduce-inner .wrap-content .wrap-desc p {
        color: #d42020;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.35;
        padding: 28px 25px 30px 60px;
        display: inline-block;
        position: relative;
        z-index: 1;
        background: url("../image/icon/checked.svg") no-repeat center left 25px;
        background-size: 34px;
        transform: rotate(5deg); }
  .introduce-inner .group-ads {
    gap: 0;
    padding-inline: 16px;
    position: absolute;
    bottom: -55px;
    left: 0; }
    .introduce-inner .group-ads > div img:first-child {
      display: block; }
    .introduce-inner .group-ads > div img:last-child {
      display: none; }

.benefit {
  background: url("../image/landing/bg-blue.png") no-repeat top center;
  background-size: cover;
  color: #fff; }
  .benefit-inner {
    text-align: center;
    padding-top: 78px;
    padding-bottom: 123px; }
    .benefit-inner .title-open {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.28;
      letter-spacing: 3.6px;
      padding-bottom: 33px;
      margin-bottom: 30px;
      position: relative; }
      .benefit-inner .title-open::after {
        content: "";
        width: 541px;
        height: 1px;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #66a8da; }
    .benefit-inner .container > p:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 2.482px 4.453px 6.234px rgba(0, 0, 0, 0.51);
      font-size: 48px;
      font-weight: 700;
      line-height: 0.7;
      letter-spacing: 5.28px;
      margin-bottom: 10px; }
      .benefit-inner .container > p:nth-child(2) span {
        width: 321px; }
    .benefit-inner .container > p:nth-child(3) {
      font-size: 36px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 3.96px;
      padding-bottom: 33px;
      margin-bottom: 42px;
      position: relative; }
      .benefit-inner .container > p:nth-child(3)::after {
        content: "";
        width: 541px;
        height: 30px;
        display: inline-block;
        position: absolute;
        bottom: -27px;
        left: 50%;
        transform: translateX(-50%);
        background: url("../image/icon/line.svg");
        background-size: contain; }
    .benefit-inner .container .wrap-content {
      margin: 0 auto;
      position: relative;
      display: inline-block; }
      .benefit-inner .container .wrap-content::before {
        content: "";
        width: 390px;
        height: 446px;
        display: inline-block;
        position: absolute;
        top: -74px;
        left: -470px;
        background: url("../image/landing/map.png");
        background-size: contain; }
      .benefit-inner .container .wrap-content::after {
        content: "";
        width: 498px;
        height: 373px;
        display: inline-block;
        position: absolute;
        top: 45px;
        right: -425px;
        background: url("../image/landing/more-money.png");
        background-size: contain; }
      .benefit-inner .container .wrap-content .content {
        width: 472px;
        padding: 16px;
        border-radius: 16px;
        background: #1d679b;
        position: relative;
        z-index: 1; }
      .benefit-inner .container .wrap-content p {
        padding-left: 52px;
        padding-block: 10px;
        background: url("../image/icon/check-square.svg") no-repeat center left 16px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 2px;
        text-align: left; }

.attention {
  position: relative;
  color: var(--dark); }
  .attention .tag-attention {
    width: 167px;
    height: 138px;
    background: url("../image/landing/attention-bg.png") no-repeat top center;
    background-size: contain;
    color: #c21011;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 0.75;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: -70px;
    transform: translateX(-50%); }
    .attention .tag-attention p {
      position: absolute;
      bottom: 35px; }
  .attention-inner {
    padding-top: 128px;
    padding-bottom: 87px;
    text-align: center; }
    .attention-inner .text-1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.28;
      letter-spacing: 3.6px;
      margin-bottom: 7px; }
    .attention-inner .text-2 {
      align-items: baseline;
      justify-content: center;
      margin-bottom: 15px; }
      .attention-inner .text-2 span:first-child {
        background: linear-gradient(180deg, #ff2728 0%, #af1617 80.21%, #920d0e 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.32;
        text-decoration: underline;
        position: relative; }
        .attention-inner .text-2 span:first-child::after {
          content: "";
          width: 100%;
          height: 2.5px;
          background-color: #980f10;
          position: absolute;
          bottom: 2.5px;
          left: 0;
          display: inline-block; }
      .attention-inner .text-2 span:nth-child(2) {
        font-size: 36px;
        font-weight: 700;
        text-decoration-line: none;
        line-height: 1.61;
        -webkit-text-fill-color: var(--dark); }
    .attention-inner .text-3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.67;
      letter-spacing: 2.4px;
      margin-bottom: 20px; }
    .attention-inner > .wrap-img {
      width: 114px;
      height: 28px;
      margin-bottom: 21px;
      margin-inline: auto; }
      .attention-inner > .wrap-img:nth-child(2) {
        display: none; }
    .attention-inner .text-4 {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 3.6px;
      margin-bottom: 24px; }
      .attention-inner .text-4 span {
        color: #e42223; }
    .attention-inner .group-block {
      gap: 8px;
      margin-bottom: 20px; }
      .attention-inner .group-block .wrap-block .block {
        width: 337px;
        padding: 16px 50px;
        border-radius: 8px;
        margin-bottom: 15px;
        background: linear-gradient(180deg, #529eb7 0%, #36849d 100%); }
        .attention-inner .group-block .wrap-block .block p:first-child {
          color: #fff;
          font-size: 30px;
          font-weight: 700;
          line-height: 1.33;
          letter-spacing: 3px; }
        .attention-inner .group-block .wrap-block .block p:nth-child(2) {
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.6;
          position: relative;
          display: inline-block;
          margin-inline: auto; }
          .attention-inner .group-block .wrap-block .block p:nth-child(2)::before, .attention-inner .group-block .wrap-block .block p:nth-child(2)::after {
            content: "";
            width: 49px;
            height: 1px;
            display: block;
            background-color: #fff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -58px; }
          .attention-inner .group-block .wrap-block .block p:nth-child(2)::after {
            left: unset;
            right: -58px; }
        .attention-inner .group-block .wrap-block .block:nth-child(2) p:nth-child(2)::before,
        .attention-inner .group-block .wrap-block .block:nth-child(2) p:nth-child(2)::after {
          width: 61.5px;
          left: -71px; }
        .attention-inner .group-block .wrap-block .block:nth-child(2) p:nth-child(2)::after {
          right: -71px;
          left: unset; }
      .attention-inner .group-block .wrap-block:nth-child(2) {
        width: calc(100% - 337px - 8px); }
        .attention-inner .group-block .wrap-block:nth-child(2) .block {
          width: 100%;
          padding: 16px 50px;
          border-radius: 8px;
          background: linear-gradient(180deg, #b6854c 0%, #956c3d 100%); }
      .attention-inner .group-block .wrap-block .wrap-milestones {
        width: 337px;
        gap: 12px; }
        .attention-inner .group-block .wrap-block .wrap-milestones .milestone:first-child {
          position: relative; }
          .attention-inner .group-block .wrap-block .wrap-milestones .milestone:first-child::after {
            content: "";
            width: 8px;
            height: 12px;
            display: block;
            background: url("../image/icon/right-icon.svg") no-repeat center;
            background-size: contain;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -11px; }
      .attention-inner .group-block .wrap-block .milestone {
        padding: 10px 9px;
        border-radius: 8px;
        border: 1px solid #d2d2d2;
        text-align: left; }
        .attention-inner .group-block .wrap-block .milestone p {
          color: #808080;
          font-size: 13px;
          font-weight: 500;
          line-height: 1.85; }
        .attention-inner .group-block .wrap-block .milestone .time {
          font-size: 18px;
          font-weight: 700;
          line-height: 1.2; }
      .attention-inner .group-block .wrap-block .wrap-milestone-last {
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        width: 100%; }
        .attention-inner .group-block .wrap-block .wrap-milestone-last .wrap-img {
          width: calc(100% - 149px - 12px);
          line-height: 0;
          display: flex;
          align-items: center;
          justify-content: center; }
          .attention-inner .group-block .wrap-block .wrap-milestone-last .wrap-img img {
            width: 94px; }
    .attention-inner .desc {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.625;
      text-align: left;
      margin-bottom: 67px; }
    .attention-inner .story-success .title {
      border-radius: 4px;
      border-left: 6px solid #70c269;
      background: #e8ffe6;
      padding: 10px 22px 10px 15px;
      font-size: 24px;
      line-height: 1.42;
      text-align: left;
      margin-bottom: 24px; }
    .attention-inner .story-success .group-story {
      gap: 20px; }
      .attention-inner .story-success .group-story .story {
        width: calc((100% - 40px) / 3);
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 3px 10.2px 0px rgba(0, 0, 0, 0.15);
        padding: 16px; }
        .attention-inner .story-success .group-story .story:nth-child(2) .wrap-img img:nth-child(2) {
          width: 90px; }
        .attention-inner .story-success .group-story .story:nth-child(3) .wrap-img img:nth-child(2) {
          width: 106px; }
        .attention-inner .story-success .group-story .story .wrap-img {
          position: relative;
          text-align: center;
          margin-bottom: 8px; }
          .attention-inner .story-success .group-story .story .wrap-img img:first-child {
            position: absolute;
            top: -5px;
            left: -5px;
            width: 70px; }
          .attention-inner .story-success .group-story .story .wrap-img img:nth-child(2) {
            width: 129px;
            height: 158px; }
        .attention-inner .story-success .group-story .story .wrap-value {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.625;
          align-items: center;
          margin-bottom: 7px;
          gap: 8px;
          padding-block: 7px;
          border-block: 1px solid #d6d6d6; }
          .attention-inner .story-success .group-story .story .wrap-value p:nth-child(2) {
            font-size: 20px;
            line-height: 1.5; }
        .attention-inner .story-success .group-story .story .desc {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.625;
          margin-bottom: 0; }

.advise {
  background-color: #fff;
  background-image: url("../image/landing/bg-paper.png");
  background-repeat: repeat;
  background-position: center center;
  background-size: cover; }
  .advise-inner {
    padding: 60px 0 57px;
    text-align: center; }
    .advise-inner .wrap-title {
      flex-wrap: wrap;
      align-items: center;
      gap: 15px;
      margin-bottom: 37px; }
      .advise-inner .wrap-title .wrap-img {
        line-height: 0;
        width: 230px;
        padding-left: 10px; }
      .advise-inner .wrap-title .title {
        width: calc(100% - 20px - 230px); }
        .advise-inner .wrap-title .title p:first-child {
          font-size: 32px;
          font-weight: 700;
          line-height: 1.44;
          margin-bottom: 20px; }
        .advise-inner .wrap-title .title p:nth-child(2) {
          font-size: 48px;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: 5.28px;
          padding-left: 45px;
          position: relative;
          background: linear-gradient(180deg, #ff2728 0%, #af1617 80.21%, #920d0e 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
          .advise-inner .wrap-title .title p:nth-child(2)::before, .advise-inner .wrap-title .title p:nth-child(2)::after {
            content: "";
            width: 33px;
            height: 89px;
            background: url("../image/icon/line-left.svg") no-repeat top left;
            background-size: contain;
            display: inline-block;
            position: absolute;
            bottom: 2px;
            left: 5px; }
          .advise-inner .wrap-title .title p:nth-child(2)::after {
            bottom: 2px;
            left: unset;
            right: -5px;
            background: url("../image/icon/line-right.svg") no-repeat top left;
            background-size: contain; }
      .advise-inner .wrap-title .desc {
        width: 100%; }
        .advise-inner .wrap-title .desc p {
          padding: 63px 41px 22px 76px;
          background: url("../image/landing/Union.png") no-repeat top left;
          background-size: cover;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.625;
          display: inline-block;
          width: 759px;
          text-align: left;
          position: relative;
          top: -20px; }
    .advise-inner .wrap-content .title {
      margin-bottom: 24px;
      color: #ff8c4b;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.42; }
      .advise-inner .wrap-content .title span {
        color: var(--dark); }
    .advise-inner .wrap-content .group-block {
      gap: 60px; }
      .advise-inner .wrap-content .group-block .block {
        width: calc((100% - 60px) / 2);
        align-items: start;
        gap: 16px; }
        .advise-inner .wrap-content .group-block .block .wrap-img {
          width: 100px;
          line-height: 0;
          position: relative;
          top: 47px; }
        .advise-inner .wrap-content .group-block .block .content {
          width: calc(100% - 16px - 100px); }
          .advise-inner .wrap-content .group-block .block .content p:first-child {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.3;
            margin-bottom: 12px;
            text-align: left; }
          .advise-inner .wrap-content .group-block .block .content p:nth-child(2) {
            font-size: 16px;
            line-height: 1.625;
            text-align: left; }

.reason-inner {
  padding: 60px 0; }
  .reason-inner h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.21;
    margin-bottom: 48px;
    text-align: center; }
    .reason-inner h2 span {
      color: #ff8c4b; }
  .reason-inner .group-reason {
    gap: 22px; }
    .reason-inner .group-reason .wrap-reason {
      width: calc((100% - 44px) / 3); }
      .reason-inner .group-reason .wrap-reason .wrap-img {
        line-height: 0;
        width: 128px;
        margin-bottom: 22px;
        margin-inline: auto; }
      .reason-inner .group-reason .wrap-reason .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 12px; }
      .reason-inner .group-reason .wrap-reason .desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.625; }

.however .line {
  padding-block: 30px;
  background: linear-gradient(180deg, #1d9bcf 0%, #0a7ba9 100%);
  position: relative;
  margin-bottom: 70px; }
  .however .line::after {
    content: "";
    width: 60px;
    height: 26px;
    background: url("../image/icon/triangel.svg") no-repeat top left;
    background-size: contain;
    display: inline-block;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute; }
  .however .line p {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4; }
.however .group-qna {
  margin-bottom: 60px; }
  .however .group-qna .qna {
    position: relative;
    padding-right: 4px;
    margin-bottom: 32px; }
    .however .group-qna .qna img:nth-child(1) {
      display: inline-block; }
    .however .group-qna .qna img:nth-child(2) {
      display: none; }
    .however .group-qna .qna p.question {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      position: absolute;
      top: 98px;
      left: 50%;
      transform: translateX(-52.5%); }
    .however .group-qna .qna p.answer {
      color: #fff;
      font-size: 18px;
      line-height: 1.78;
      position: absolute;
      bottom: 81px;
      left: 77px;
      width: 442px; }
    .however .group-qna .qna:nth-child(2) p.question {
      top: 48px; }
      .however .group-qna .qna:nth-child(2) p.question span {
        display: block; }
    .however .group-qna .qna:nth-child(2) p.answer {
      bottom: 76px;
      right: 82px;
      left: unset; }
    .however .group-qna .qna:last-child {
      padding-right: 2px; }
      .however .group-qna .qna:last-child p.question {
        top: 87px;
        transform: translateX(-46.5%); }
      .however .group-qna .qna:last-child p.answer {
        bottom: 88px;
        left: 79px; }

.solution .solution-head {
  background-color: #0178a9;
  position: relative;
  margin-bottom: 0; }
  .solution .solution-head-inner {
    text-align: center;
    padding: 55px 0 50px 0;
    position: relative; }
    .solution .solution-head-inner::after {
      content: "";
      width: 60px;
      height: 26px;
      background: url("../image/landing/Polygon-3.png") no-repeat;
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      background-size: contain;
      z-index: 1; }
    .solution .solution-head-inner .title {
      color: #fff;
      font-size: 40px;
      line-height: 1.4;
      letter-spacing: 4.4px; }
      .solution .solution-head-inner .title::first-line {
        letter-spacing: normal; }
      .solution .solution-head-inner .title span {
        color: #ffee94;
        font-weight: 700;
        display: block; }
.solution .solution-content {
  background-color: #eef8fd;
  position: relative; }
  .solution .solution-content-inner {
    padding: 74px 0 103px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px; }
    .solution .solution-content-inner .solution-item {
      text-align: center;
      width: calc(100% / 3); }
      .solution .solution-content-inner .solution-item:nth-child(2) .card .wrap-img-desc, .solution .solution-content-inner .solution-item:last-child .card .wrap-img-desc {
        margin-top: -16px;
        margin-bottom: 0; }
      .solution .solution-content-inner .solution-item:nth-child(2) .card .icon-check, .solution .solution-content-inner .solution-item:last-child .card .icon-check {
        margin-top: -11.4px; }
      .solution .solution-content-inner .solution-item .card {
        border-radius: 32px;
        background: #fff;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
        display: flex;
        padding: 32px 18px 24px 18px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px; }
        .solution .solution-content-inner .solution-item .card .title {
          color: var(--dark);
          font-size: 24px;
          font-weight: 700;
          line-height: 1.35;
          margin-bottom: 5px; }
        .solution .solution-content-inner .solution-item .card .wrap-img-desc {
          line-height: 0;
          margin-bottom: 5px; }
          .solution .solution-content-inner .solution-item .card .wrap-img-desc img {
            width: 168px;
            height: 168px; }
        .solution .solution-content-inner .solution-item .card .icon-check {
          width: 48px; }
      .solution .solution-content-inner .solution-item .desc {
        padding-inline: 30px; }
        .solution .solution-content-inner .solution-item .desc p {
          color: var(--dark);
          font-size: 15px;
          line-height: 1.35; }
          .solution .solution-content-inner .solution-item .desc p span {
            color: #016c98;
            font-size: 18px;
            font-weight: 700; }

.inheritance-diagram-inner {
  padding: 72px 0 60px;
  text-align: center; }
  .inheritance-diagram-inner h2 {
    padding-bottom: 50px;
    background: url("../image/icon/brackets.svg") no-repeat bottom left 5px;
    background-size: 95%;
    display: inline-block;
    margin-bottom: 48px;
    color: var(--dark);
    font-size: 40px;
    font-weight: 700;
    line-height: 0.85;
    text-align: center; }
  .inheritance-diagram-inner .wrap-diagram {
    line-height: 0; }
    .inheritance-diagram-inner .wrap-diagram img:last-child {
      display: none; }

.characteristic {
  background: #f7fbfe; }
  .characteristic-inner {
    padding: 60px 80px 53px; }
    .characteristic-inner .group-img {
      flex-wrap: wrap;
      margin-bottom: 30px; }
      .characteristic-inner .group-img .wrap-block {
        width: calc(100% / 2);
        text-align: center;
        padding: 16px; }
        .characteristic-inner .group-img .wrap-block:nth-child(1), .characteristic-inner .group-img .wrap-block:nth-child(3) {
          border-right: 0.5px solid #d6d6d6; }
        .characteristic-inner .group-img .wrap-block:nth-child(2), .characteristic-inner .group-img .wrap-block:nth-child(4) {
          border-left: 0.5px solid #d6d6d6; }
        .characteristic-inner .group-img .wrap-block:nth-child(2), .characteristic-inner .group-img .wrap-block:nth-child(1) {
          border-bottom: 0.5px solid #d6d6d6; }
        .characteristic-inner .group-img .wrap-block:nth-child(3), .characteristic-inner .group-img .wrap-block:nth-child(4) {
          border-top: 0.5px solid #d6d6d6; }
        .characteristic-inner .group-img .wrap-block .wrap-img {
          line-height: 0;
          margin-bottom: 16px; }
          .characteristic-inner .group-img .wrap-block .wrap-img img {
            width: 120px; }
        .characteristic-inner .group-img .wrap-block p {
          font-size: 24px;
          font-weight: 700;
          line-height: 1.4; }
    .characteristic-inner .group-detail .detail {
      padding: 24px;
      border-radius: 16px;
      margin-bottom: 8px;
      background: linear-gradient(90deg, rgba(19, 114, 203, 0.08) 0%, rgba(23, 94, 200, 0) 100%); }
      .characteristic-inner .group-detail .detail .title {
        color: #d96c2f;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.35;
        margin-bottom: 8px; }
      .characteristic-inner .group-detail .detail .desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.625; }

.price-package {
  background: url("../image/landing/caro.png"), #eef8fd;
  background-size: cover;
  background-repeat: repeat; }
  .price-package-inner {
    padding: 69px 80px 58px;
    text-align: center; }
    .price-package-inner h2 {
      display: inline-block;
      color: var(--dark);
      font-size: 40px;
      font-weight: 700;
      line-height: 0.85;
      text-align: center;
      background: url("../image/icon/brackets.svg") no-repeat bottom left 0px;
      background-size: 100%;
      padding-bottom: 30px;
      margin-bottom: 46px; }
    .price-package-inner .wrap-plan {
      border-radius: 24px;
      overflow: hidden;
      border: 3px solid #3fb6e7; }
      .price-package-inner .wrap-plan .title {
        background: #3fb6e7;
        padding: 12px;
        text-align: center;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.35; }
      .price-package-inner .wrap-plan .content {
        padding: 24px;
        text-align: center;
        background: #fff; }
        .price-package-inner .wrap-plan .content p:first-child {
          color: #ff8c4b;
          font-size: 32px;
          font-weight: 700;
          line-height: 1.4;
          padding-bottom: 24px;
          position: relative;
          display: inline-block;
          margin: 0 auto; }
          .price-package-inner .wrap-plan .content p:first-child::before, .price-package-inner .wrap-plan .content p:first-child:after {
            content: "";
            width: 26px;
            height: 46px;
            display: block;
            position: absolute;
            background: url("../image/icon/two-line-left.svg") no-repeat center;
            background-size: contain;
            top: 0;
            left: -36px; }
          .price-package-inner .wrap-plan .content p:first-child:after {
            background: url("../image/icon/two-line-right.svg") no-repeat center;
            background-size: contain;
            left: unset;
            right: -36px; }
        .price-package-inner .wrap-plan .content p:nth-child(2) {
          font-size: 20px;
          font-weight: 700;
          line-height: 1.4;
          margin-bottom: 24px; }
          .price-package-inner .wrap-plan .content p:nth-child(2) span {
            color: #ff8c4b; }
        .price-package-inner .wrap-plan .content p:nth-child(3) {
          font-size: 16px;
          line-height: 1.625; }

@media screen and (max-width: 640px) {
  .container {
    max-width: 375px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto; }

  .introduce::before, .introduce::after {
    width: 252px;
    height: 222px;
    background-size: cover; }
  .introduce .introduce-inner {
    background: none; }
    .introduce .introduce-inner .shake-hands {
      display: block;
      height: 187px;
      width: auto;
      margin: 0 auto;
      margin-inline: -16px;
      margin-bottom: 8px; }
    .introduce .introduce-inner .wrap-content {
      padding-top: 20px;
      padding-bottom: 16px; }
      .introduce .introduce-inner .wrap-content .wrap-top {
        gap: 0;
        display: block; }
        .introduce .introduce-inner .wrap-content .wrap-top .wrap-img {
          margin-bottom: 19px; }
      .introduce .introduce-inner .wrap-content .text-banner:last-child {
        display: inline-block;
        width: 358px;
        height: 182px;
        position: relative;
        right: 8px; }
      .introduce .introduce-inner .wrap-content .text-banner:first-child {
        display: none; }
      .introduce .introduce-inner .wrap-content .wrap-desc {
        display: none; }
      .introduce .introduce-inner .wrap-content .group-ads > div {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
        border-radius: 18px;
        overflow: hidden; }
        .introduce .introduce-inner .wrap-content .group-ads > div img:first-child {
          display: none; }
        .introduce .introduce-inner .wrap-content .group-ads > div img:last-child {
          display: block;
          width: 108px; }
    .introduce .introduce-inner .group-ads {
      position: unset;
      padding: 0;
      justify-content: space-between; }

  .benefit {
    overflow: hidden; }
    .benefit-inner {
      padding-top: 41px;
      padding-bottom: 87px; }
      .benefit-inner .title-open {
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 2px;
        padding-bottom: 7px;
        margin-bottom: 7px; }
        .benefit-inner .title-open::after {
          width: 292px; }
      .benefit-inner .container > p:nth-child(2) {
        flex-wrap: wrap;
        text-shadow: 2.046px 3.671px 5.14px rgba(0, 0, 0, 0.51);
        font-size: 40px;
        line-height: 1.25;
        letter-spacing: 0;
        gap: 3px;
        margin-bottom: 0; }
        .benefit-inner .container > p:nth-child(2) span {
          width: 100%; }
          .benefit-inner .container > p:nth-child(2) span img {
            width: 270px; }
      .benefit-inner .container > p:nth-child(3) {
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 2.2px;
        margin-top: -4px;
        padding-bottom: 0px;
        margin-bottom: 38px; }
        .benefit-inner .container > p:nth-child(3)::after {
          width: 291px;
          height: 15px;
          bottom: -22px; }
      .benefit-inner .container .wrap-content::before {
        width: 114px;
        height: 130px;
        top: unset;
        left: -11px;
        bottom: -77px; }
      .benefit-inner .container .wrap-content::after {
        width: 194px;
        height: 145px;
        top: unset;
        right: -52px;
        bottom: -87px; }
      .benefit-inner .container .wrap-content .content {
        width: 100%; }
        .benefit-inner .container .wrap-content .content p {
          padding-left: 32px;
          padding-block: 6px;
          background: url("../image/icon/check-square.svg") no-repeat center left -3px;
          background-size: 20px;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.625;
          letter-spacing: 1.6px; }

  .attention .tag-attention {
    font-size: 20px;
    line-height: 0.8;
    width: 110px;
    height: 92px;
    top: -60px; }
    .attention .tag-attention p {
      bottom: 23px; }
  .attention-inner {
    padding-top: 43px;
    padding-bottom: 40px; }
    .attention-inner .text-1 {
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 2px;
      margin-bottom: 0; }
    .attention-inner .text-2 {
      flex-wrap: wrap;
      margin-bottom: 7px; }
      .attention-inner .text-2 span {
        width: 100%; }
        .attention-inner .text-2 span:first-child {
          font-size: 48px;
          line-height: 1.54;
          text-decoration-line: underline; }
          .attention-inner .text-2 span:first-child::after {
            bottom: 7px; }
        .attention-inner .text-2 span:nth-child(2) {
          font-size: 32px;
          line-height: 1.81; }
    .attention-inner .text-3 {
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 2px;
      margin-bottom: 8px; }
    .attention-inner > .wrap-img {
      margin-bottom: 8px; }
      .attention-inner > .wrap-img:nth-child(2) {
        display: inline-block; }
    .attention-inner .text-4 {
      font-size: 28px;
      line-height: 1.35;
      letter-spacing: 2.8px;
      margin-bottom: 17px; }
    .attention-inner .group-block {
      flex-wrap: wrap;
      gap: 0;
      margin-bottom: 8px; }
      .attention-inner .group-block .wrap-block {
        width: 100% !important; }
        .attention-inner .group-block .wrap-block:first-child {
          padding-bottom: 26px;
          position: relative; }
          .attention-inner .group-block .wrap-block:first-child::after {
            content: "";
            width: 92px;
            height: 10px;
            display: inline-block;
            position: absolute;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
            background: url("../image/icon/arrow-bottom.svg") no-repeat center;
            background-size: contain; }
        .attention-inner .group-block .wrap-block:nth-child(2) .block {
          padding: 16px 50px 27px; }
        .attention-inner .group-block .wrap-block:nth-child(2) .milestone {
          width: 100%; }
        .attention-inner .group-block .wrap-block .wrap-milestone-last .wrap-img {
          display: none; }
        .attention-inner .group-block .wrap-block .block {
          margin-bottom: 4px;
          width: 100%; }
          .attention-inner .group-block .wrap-block .block p:first-child {
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: 2px; }
        .attention-inner .group-block .wrap-block .wrap-milestones {
          width: 100%; }
        .attention-inner .group-block .wrap-block .milestone {
          padding: 10px; }
    .attention-inner .desc {
      margin-bottom: 8px; }
    .attention-inner .story-success .title {
      margin-bottom: 16px; }
    .attention-inner .story-success .group-story {
      flex-wrap: wrap;
      gap: 8px; }
      .attention-inner .story-success .group-story .story {
        width: 100%; }

  .advise-inner {
    padding: 41px 0 48px; }
    .advise-inner .wrap-title {
      margin-bottom: 20px; }
      .advise-inner .wrap-title > div {
        width: 100% !important; }
      .advise-inner .wrap-title .title {
        order: 0;
        margin-bottom: 35px; }
        .advise-inner .wrap-title .title p:first-child {
          font-size: 20px;
          line-height: 1.5;
          margin-bottom: 6px; }
        .advise-inner .wrap-title .title p:nth-child(2) {
          font-size: 24px;
          line-height: 1.17;
          letter-spacing: 0px;
          padding-left: 12px; }
          .advise-inner .wrap-title .title p:nth-child(2)::before, .advise-inner .wrap-title .title p:nth-child(2)::after {
            width: 20px;
            height: 45px;
            bottom: 0px;
            left: 3px; }
          .advise-inner .wrap-title .title p:nth-child(2)::after {
            left: unset;
            right: 3px; }
      .advise-inner .wrap-title .wrap-img {
        order: 2;
        padding: 0;
        margin-top: -59px;
        position: relative; }
        .advise-inner .wrap-title .wrap-img img {
          width: 234px; }
      .advise-inner .wrap-title .desc p {
        width: 100%;
        padding: 16px 28px 24px 30px;
        font-size: 12px;
        line-height: 1.56;
        background: url("../image/landing/Union-mb.png") no-repeat top left;
        background-size: cover; }
    .advise-inner .wrap-content .title {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 24px; }
    .advise-inner .wrap-content .group-block {
      flex-wrap: wrap;
      gap: 8px; }
      .advise-inner .wrap-content .group-block .block {
        width: 100%;
        flex-wrap: wrap;
        gap: 8px; }
        .advise-inner .wrap-content .group-block .block .wrap-img {
          width: 100%;
          top: unset; }
          .advise-inner .wrap-content .group-block .block .wrap-img img {
            width: 100px; }
        .advise-inner .wrap-content .group-block .block .content {
          width: 100%; }
          .advise-inner .wrap-content .group-block .block .content p:first-child {
            margin-bottom: 8px; }
          .advise-inner .wrap-content .group-block .block .content p:nth-child(2) {
            padding-right: 20px; }
            .advise-inner .wrap-content .group-block .block .content p:nth-child(2) span {
              display: block; }

  .reason-inner {
    padding: 40px 0 39px; }
    .reason-inner h2 {
      font-size: 28px;
      font-weight: 700;
      line-height: 1.35;
      margin-bottom: 25px; }
      .reason-inner h2 span {
        display: block; }
    .reason-inner .group-reason {
      flex-wrap: wrap; }
      .reason-inner .group-reason .wrap-reason {
        width: 100%; }
        .reason-inner .group-reason .wrap-reason .wrap-img {
          margin-bottom: 8px; }
        .reason-inner .group-reason .wrap-reason .title {
          margin-bottom: 8px; }

  .however .container {
    padding: 0; }
  .however .line {
    padding-block: 16px;
    margin-bottom: 54px; }
    .however .line p {
      font-size: 28px;
      line-height: 1.4; }
  .however .group-qna {
    margin-bottom: 38px; }
    .however .group-qna .qna {
      padding-right: 0;
      margin-bottom: 15px; }
      .however .group-qna .qna img:nth-child(1) {
        display: none; }
      .however .group-qna .qna img:nth-child(2) {
        display: inline-block; }
      .however .group-qna .qna p.question {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        width: 165px;
        top: 101px !important;
        left: unset;
        transform: unset !important;
        right: 36px; }
        .however .group-qna .qna p.question span {
          display: inline !important; }
      .however .group-qna .qna p.answer {
        font-size: 12px;
        line-height: 1.5;
        bottom: 18px;
        left: 24px;
        width: 179px; }
        .however .group-qna .qna p.answer span {
          display: inline; }
      .however .group-qna .qna:nth-child(2) p.question {
        width: 192px;
        right: unset;
        left: 18px; }
      .however .group-qna .qna:nth-child(2) p.answer {
        bottom: 20px;
        right: 28px;
        width: 175px; }
      .however .group-qna .qna:last-child {
        padding-right: 0; }
        .however .group-qna .qna:last-child p.question {
          left: unset;
          right: 35px;
          top: 100px !important; }
        .however .group-qna .qna:last-child p.answer {
          width: 183px;
          bottom: 17px;
          left: 24px; }

  .solution .solution-head-inner {
    padding: 21px 0 19px 0; }
    .solution .solution-head-inner .title {
      font-size: 28px;
      letter-spacing: 3.08px; }
      .solution .solution-head-inner .title span {
        display: inline; }
  .solution .solution-content-inner {
    padding: 46px 40px;
    flex-wrap: wrap;
    gap: 20px; }
    .solution .solution-content-inner .solution-item {
      width: 100%; }
      .solution .solution-content-inner .solution-item .card {
        margin-inline: 12px;
        padding: 25px 19px 19px;
        border-radius: 25px;
        margin-bottom: 8px; }
        .solution .solution-content-inner .solution-item .card .wrap-img-desc {
          margin-bottom: 3px; }
          .solution .solution-content-inner .solution-item .card .wrap-img-desc img {
            width: 135px;
            height: auto; }
        .solution .solution-content-inner .solution-item .card .title {
          font-size: 20px;
          margin-bottom: 4px; }
        .solution .solution-content-inner .solution-item .card .icon-check {
          width: 38.5px; }
      .solution .solution-content-inner .solution-item .desc {
        padding: 0;
        margin-inline: -18px; }
      .solution .solution-content-inner .solution-item:nth-child(2) .card .wrap-img-desc {
        margin-top: -14px; }
      .solution .solution-content-inner .solution-item:last-child .desc p span {
        display: block; }

  .inheritance-diagram-inner {
    padding: 40px 0 36px; }
    .inheritance-diagram-inner h2 {
      font-size: 28px;
      font-weight: 700;
      line-height: 1.4;
      padding-bottom: 30px;
      background: url("../image/icon/brackets.svg") no-repeat bottom left;
      background-size: 100%;
      margin-bottom: 15px; }
    .inheritance-diagram-inner .wrap-diagram img:first-child {
      display: none; }
    .inheritance-diagram-inner .wrap-diagram img:last-child {
      display: block; }

  .characteristic-inner {
    padding: 40px 0 31px; }
    .characteristic-inner .group-img {
      margin-bottom: 16px; }
      .characteristic-inner .group-img .wrap-block {
        padding: 15px 5px; }
        .characteristic-inner .group-img .wrap-block .wrap-img {
          margin-bottom: 12px; }
          .characteristic-inner .group-img .wrap-block .wrap-img img {
            width: 90px; }
        .characteristic-inner .group-img .wrap-block p {
          font-size: 12px;
          line-height: 1.5; }
    .characteristic-inner .group-detail .detail {
      padding: 16px; }
      .characteristic-inner .group-detail .detail .title {
        font-size: 18px;
        line-height: 1.56; }

  .price-package-inner {
    padding: 41px 0 37px; }
    .price-package-inner h2 {
      font-size: 28px;
      line-height: 1.4;
      padding-bottom: 15px;
      margin-bottom: 20px; }
    .price-package-inner .wrap-plan .content p:first-child {
      font-size: 24px;
      line-height: 1.4;
      padding-bottom: 9px; }
      .price-package-inner .wrap-plan .content p:first-child::before, .price-package-inner .wrap-plan .content p:first-child::after {
        width: 20px;
        height: 26px;
        top: 5px;
        left: -22px; }
      .price-package-inner .wrap-plan .content p:first-child::after {
        right: -22px;
        left: unset; }
    .price-package-inner .wrap-plan .content p:nth-child(2) {
      margin-bottom: 7px; } }

/*# sourceMappingURL=style.css.map */
